/Md - 4 CoreJava/10.05.2024/GeometrayShape/nbproject/private/
/Md - 4 CoreJava/10.05.2024/GeometrayShape/build/
/Md - 4 CoreJava/10.05.2024/SportsList/nbproject/private/
/Md - 4 CoreJava/10.05.2024/SportsList/build/
/Md - 4 CoreJava/10.05.2024/VehicleManagement/nbproject/private/
/Md - 4 CoreJava/10.05.2024/VehicleManagement/build/
/Md - 4 CoreJava/Try 3- 18.05.2024/TestSecondConvert/nbproject/private/
/Md - 4 CoreJava/Try 3- 18.05.2024/TestSecondConvert/build/
/Md - 4 CoreJava/Try 3- 18.05.2024/TestSubstractGame/nbproject/private/
/Md - 4 CoreJava/Try 3- 18.05.2024/TestSubstractGame/build/
/Md - 4 CoreJava/Try 4- 20.05.2024/ComputeAverage/nbproject/private/
/Md - 4 CoreJava/Try 4- 20.05.2024/ComputeAverage/build/
/Md - 4 CoreJava/Swing Practice 28.05.2024/MyShop/build/
/Md - 4 CoreJava/Swing Practice 28.05.2024/MyShop/nbproject/private/
/Md - 4 CoreJava/Swing 28.05.2024/MyShop/dist/
/Md - 4 CoreJava/Swing 28.05.2024 tsp/MyShop/build/
/Md - 4 CoreJava/Swing 28.05.2024 tsp/MyShop/nbproject/private/
/Md - 4 CoreJava/Eve Practice 04.06.2024/RandomIntArray/nbproject/private/
/Md - 4 CoreJava/Eve Practice 04.06.2024/RandomIntArray/build/
/Md - 4 CoreJava/Try 06.06.2024/DatabaseConnection/nbproject/private/
/Md - 4 CoreJava/Try 06.06.2024/DatabaseConnection/build/
/Md - 5 AdvanceJava/Try 1 - 06.06.2024/TestXML/nbproject/private/
/Md - 5 AdvanceJava/Try 1 - 06.06.2024/TestXML/build/
/Md - 5 AdvanceJava/Try 1 - 06.06.2024/TestXML/dist/
/MD- 5 Advance Java + UML/Try 2- 11.06.2024/CafeManagementSystem/nbproject/private/
/Md - 4 CoreJava/Swing 28.05.2024/CafeManagementSystem/build/
/Md - 4 CoreJava/Swing 28.05.2024/CafeManagementSystem/dist/
/Md - 4 CoreJava/Try 5 - 22.06.2024/DBCrud/nbproject/private/
/Md - 4 CoreJava/Try 5 - 22.06.2024/DBCrud/build/
/Md - 4 CoreJava/Try 5 - 22.06.2024/JDBCInOneClass/nbproject/private/
/Md - 4 CoreJava/Try 5 - 22.06.2024/JDBCInOneClass/build/
/Md - 4 CoreJava/DBCrud/nbproject/private/
/Md - 4 CoreJava/DBCrud/build/
/Md - 4 CoreJava/DBCrud2/nbproject/private/
