/Md - 4 CoreJava/10.05.2024/GeometrayShape/nbproject/private/
/Md - 4 CoreJava/10.05.2024/GeometrayShape/build/
/Md - 4 CoreJava/10.05.2024/SportsList/nbproject/private/
/Md - 4 CoreJava/10.05.2024/SportsList/build/
/Md - 4 CoreJava/10.05.2024/VehicleManagement/nbproject/private/
/Md - 4 CoreJava/10.05.2024/VehicleManagement/build/
/Md - 4 CoreJava/Try 3- 18.05.2024/TestSecondConvert/nbproject/private/
/Md - 4 CoreJava/Try 3- 18.05.2024/TestSecondConvert/build/
/Md - 4 CoreJava/Try 3- 18.05.2024/TestSubstractGame/nbproject/private/
/Md - 4 CoreJava/Try 3- 18.05.2024/TestSubstractGame/build/
/Md - 4 CoreJava/Try 4- 20.05.2024/ComputeAverage/nbproject/private/
/Md - 4 CoreJava/Try 4- 20.05.2024/ComputeAverage/build/
/Md - 4 CoreJava/Swing Practice 28.05.2024/MyShop/build/
/Md - 4 CoreJava/Swing Practice 28.05.2024/MyShop/nbproject/private/
